<div class="greetings-container">

	<div class="greetings-text">
		<h1>Zepsuty kran? Zagracona piwnica? <span>Robi się</span>!</h1>
	</div>
	
	<div class="greetings-choice">
		<md-button ng-click='becomePro()' class="md-cornered greetings-become-pro ">
		<div class="button-content"><i class="mdi mdi-screwdriver"></i><div class="text">Zostań specjalistą.</div></div></md-button>
		<md-button ng-click='hirePro()' class="md-cornered greetings-hire-pro"><div class="button-content">
		<i class="mdi mdi-account-search"></i><div class="text">Znajdź specjalistę.</div></div></md-button>
	</div>
</div>
<div class="layer"></div>
<div class="image_layer"></div>