<div class="password-forgot">
	<div class="password-container md-whiteframe-9dp" layout="column" ng-show="!forgotToken">
	<md-content   layout-padding layout-align="center center">
		<h1>Zapomniałem hasła</h1>
    <div>
     <form name='form_forgotten_password' novalidate>
      <p>Podaj swój adres email. Wyślemy Tobie link do wygenerowania nowego hasła.</p>
      <md-input-container class="md-block" >
        <label>Email</label>
        <input ng-model="forgot.email" name='email' type="email" required>
          <div ng-messages="form_forgotten_password.email.$error">
          	<div ng-message="required">To pole musi być wypełnione</div>
          </div>
        </md-input-container>
      {{passwordforgot}}
      <md-button aria-label='login button' class='md-raised md-cornered' ng-click='forgetPasswordInit(forgot.email)' ng-disabled="!forgot.email">Wyślij link</md-button>
        <span class='password-output'>{{forgotPasswordSendEmailResult}}</span>

       </form>
    </div>
    
  </md-content>

	</div>
  <div ng-show='forgotToken' class="requestForgot">
     <div ng-show='loading' class="dataloading">
        <md-progress-circular ng-disabled="!loading" class="md-yellow" md-diameter="100px"></md-progress-circular>
      </div>
      <p ng-if='tokenResponse.result === "success"'>
        <i class="mdi mdi-check"></i><br>
          Hasło zostało zmienione i wysłane na Twój adres email.
      </p>
      <p ng-if='tokenResponse.result === "failure"'>
        <i class="mdi mdi-close"></i><br>
         Nie udało się zmienić hasła, niepoprawny lub zużyty token.
      </p>
  </div>
</div>